<!-- Javascript -->
<script>
  var label_recent_history_is_here = "<%= I18n.t(:kanban_label_recent_history_is_here) %>";
  var label_add_notes = "<%= I18n.t(:kanban_label_add_notes) %>";
  var option_display_comment_dialog_when_drop = "<%= Constants::DISPLAY_COMMENT_DIALOG_WHEN_DROP %>"
  window.onload = function(){
    $(window).scrollTop(<%= params[:scroll_top] %>);
  }
</script>
<script src="./javascripts/context_menu.js"></script>
<%= javascript_include_tag "jquery.floatThead", :plugin => "kanban" %>
<%= javascript_include_tag "kanban", :plugin => "kanban" %>
<!-- CSS -->
<link rel="stylesheet" media="screen" href="./stylesheets/context_menu.css">
<%= stylesheet_link_tag 'kanban', :plugin => 'kanban' %>
<div class="contextual">
  <% if @project_id.blank? != true then %>
    <a class="icon icon-add new-issue" href="./projects/<%= @project_id %>/issues/new"><%= I18n.t(:label_issue_new) %></a>
  <% else %>
    <a class="icon icon-add new-issue" href="./issues/new"><%= I18n.t(:label_issue_new) %></a>
  <% end %>
</div>
<!-- H2 title -->
<h2><% if Constants::DISPLAY_USER_AVATOR == 1 then %><%= avatar(@user, :size => "24") %><% end %><%= @user.name %><%= I18n.t(:kanban_label_title) %></h2>
<!-- Form for filters -->
<form id="form1" action="" method="GET">
<!-- This is the part that opens and closes -->
<fieldset id="upper_filters" class="collapsible collapsed">
  <legend onclick="toggleFieldset(this);"><%= I18n.t(:label_filter_plural) %></legend>
  <div style="display: none;">
    <table>
      <tr>
        <td style="width: 100px">
          <label><%= I18n.t(:field_updated_on) %></label>
        </td>
        <td>
          <select name="updated_within">
            <option value="unspecified" <% if @updated_within == "unspecified" then %> selected <% end %>><%= I18n.t(:kanban_label_unspecified) %></option>
            <option value="1"  <% if @updated_within == "1"  then %> selected <% end %>><%= I18n.t(:kanban_label_within_1_day) %></option>
            <option value="3"  <% if @updated_within == "3"  then %> selected <% end %>><%= I18n.t(:kanban_label_within_3_days) %></option>
            <option value="7"  <% if @updated_within == "7"  then %> selected <% end %>><%= I18n.t(:kanban_label_within_1_week) %></option>
            <option value="14" <% if @updated_within == "14" then %> selected <% end %>><%= I18n.t(:kanban_label_within_2_weeks) %></option>
            <option value="31" <% if @updated_within == "31" then %> selected <% end %>><%= I18n.t(:kanban_label_within_1_month) %></option>
            <option value="62" <% if @updated_within == "62" then %> selected <% end %>><%= I18n.t(:kanban_label_within_2_months) %></option>
            <option value="93" <% if @updated_within == "93" then %> selected <% end %>><%= I18n.t(:kanban_label_within_3_months) %></option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 100px">  
          <label><%= I18n.t(:field_closed_on) %></label>
        </td>
        <td>
          <select name="done_within">
            <option value="unspecified" <% if @done_within == "unspecified" then %> selected <% end %>><%= I18n.t(:kanban_label_unspecified) %></option>
            <option value="1"  <% if @done_within == "1"  then %> selected <% end %>><%= I18n.t(:kanban_label_within_1_day) %></option>
            <option value="3"  <% if @done_within == "3"  then %> selected <% end %>><%= I18n.t(:kanban_label_within_3_days) %></option>
            <option value="7"  <% if @done_within == "7"  then %> selected <% end %>><%= I18n.t(:kanban_label_within_1_week) %></option>
            <option value="14" <% if @done_within == "14" then %> selected <% end %>><%= I18n.t(:kanban_label_within_2_weeks) %></option>
            <option value="31" <% if @done_within == "31" then %> selected <% end %>><%= I18n.t(:kanban_label_within_1_month) %></option>
            <option value="62" <% if @done_within == "62" then %> selected <% end %>><%= I18n.t(:kanban_label_within_2_months) %></option>
            <option value="93" <% if @done_within == "93" then %> selected <% end %>><%= I18n.t(:kanban_label_within_3_months) %></option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 100px">  
          <label><%= I18n.t(:field_due_date) %></label>
        </td>
        <td>
          <select name="due_date">
            <option value="unspecified" <% if @due_date == "unspecified" then %> selected <% end %>><%= I18n.t(:kanban_label_unspecified) %></option>
            <option value="overdue" <% if @due_date == "overdue" then %> selected <% end %>><%= I18n.t(:kanban_label_overdue) %></option>
            <option value="today" <% if @due_date == "today" then %> selected <% end %>><%= I18n.t(:kanban_label_today) %></option>
            <option value="tommorow" <% if @due_date == "tommorow" then %> selected <% end %>><%= I18n.t(:kanban_label_tommorow) %></option>
            <option value="thisweek" <% if @due_date == "thisweek" then %> selected <% end %>><%= I18n.t(:kanban_label_thisweek) %></option>
            <option value="nextweek" <% if @due_date == "nextweek" then %> selected <% end %>><%= I18n.t(:kanban_label_nextweek) %></option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 100px">
          <label><%= I18n.t(:field_assigned_to) %></label>
        </td>
        <td>
          <select name="user_id">
            <option value="unspecified" <% if @user_id == "unspecified" then %> selected <% end %>><%= I18n.t(:kanban_label_unspecified) %></option>
            <% @selectable_users.each{|user| %>
              <option value="<%= user.id %>" <% if @user_id.to_i == user.id then %> selected <% end %>><%= user.name %></option>
            <% } %>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 100px">
          <label><%= I18n.t(:label_group) %></label>
        </td>
        <td>
          <select name="group_id">
            <option value="unspecified" <% if @group_id == "unspecified" then %> selected <% end %>><%= I18n.t(:kanban_label_unspecified) %></option>
            <% @selectable_groups.each{|group| %>
              <option value="<%= group.id %>" <% if @group_id.to_i == group.id then %> selected <% end %>><%= group.name %></option>
            <% } %>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 100px">
          <label><%= I18n.t(:label_project) %></label>
        </td>
        <td>
          <select name="project_all">
            <% if !@project_id.blank? then %>
              <option value="0" <% if @project_all == "0" then %> selected <% end %>><%= @project.name %></option>
            <% end %>
            <option value="1" <% if @project_all == "1" then %> selected <% end %>><%= I18n.t(:kanban_label_unspecified) %></option>
          </select>
        </td>
      </tr>
      <% if @project_all == "0" then %>
        <tr>
          <td style="width: 100px">
            <label><%= I18n.t(:label_version) %></label>
          </td>
          <td>
            <select name="version_id">
              <option value="unspecified" <% if @version_id == "unspecified" then %> selected <% end %>><%= I18n.t(:kanban_label_unspecified) %></option>
              <% @project.versions.each{|version| %>
                <option value="<%= version.id %>" <% if @version_id.to_i == version.id then %> selected <% end %>><%= version.name %></option>
              <% } %>
            </select>
          </td>
        </tr>
      <% end %>
      <tr>
        <td style="width: 100px">
          <label><%= I18n.t(:kanban_label_wip_limits) %></label>
        </td>
        <td>
          <select name="wip_max" id="wip_max">
            <option value="1" <% if @wip_max == "1" then %> selected <% end %>>1</option>
            <option value="2" <% if @wip_max == "2" then %> selected <% end %>>2</option>
            <option value="3" <% if @wip_max == "3" then %> selected <% end %>>3</option>
            <option value="4" <% if @wip_max == "4" then %> selected <% end %>>4</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</fieldset>
<!-- This is the part that opens and closes -->
<fieldset id="lower_filters" class="collapsible collapsed">
  <legend onclick="toggleFieldset(this);"><%= I18n.t(:kanban_label_fields) %></legend>
  <div style="display: none;">
    <table>
      <tr>
        <td>
          <!-- checkboxes for status fields -->
          <% @issue_statuses.each_with_index do |status,index| %>
            <% if @status_fields_array.include?(status.id) then flag = true else flag = false end %>
            <div style="float: left;">
                <%= check_box "status_fields", status.id, {:checked => flag} %><%= status.name %>　
            </div>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</fieldset>
<input name="project_id" type="hidden" value="<%= @project_id %>">
<input name="scroll_top" id="scroll_top" type="hidden" value="0">
</form>
<!-- Update and clear links -->
<p class="buttons">
  <a href="#" onclick="$('#form1').submit(); return false;" class="icon icon-checked"><%= I18n.t(:button_apply) %></a>
  <% if @project_id.blank? == true then %>
    <a class="icon icon-reload" href="./kanban?clear=1"><%= I18n.t(:button_clear) %></a>
  <% else %>
    <a class="icon icon-reload" href="./kanban?clear=1&project_id=<%= @project_id %>"><%= I18n.t(:button_clear) %></a>
  <% end %>
</p>
<!-- Form for issue operation -->
<form data-cm-url="./issues/context_menu" action="./issues" accept-charset="UTF-10" method="post">
<div>
  <!-- Main table -->
  <table id="kanban_table" class="list issues odd-even" style="table-layout: fixed;">
    <thead>
      <!-- Table header row -->
      <tr class="group">
        <th style="width: 10px;">
        </th>
        <!-- Table header cols -->
        <% @status_fields_array.each {|status_id| %>
          <th style="min-width: 200px;"><%= @issue_statuses_hash[status_id] %><span id="counter-<%= status_id %>" class="count" style="background-color: #d5d5d5"><%= @issues_hash[status_id].length %></span></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <!-- User loop -->
      <% @user_id_array.each{|uid| %>
        <!-- Rows -->
        <tr class="group">
          <td>
            <% if uid != nil then %>
              <% if @group_id_array.include?(uid) then %>
                <!-- When group -->
                <img src="./images/group.png">
                <p style="writing-mode: vertical-rl;"><%= @user_and_group_names_hash[uid] %></p>
              <% else %>
                <!-- When user -->
                <p style="writing-mode: vertical-rl;"><% if Constants::DISPLAY_USER_AVATOR == 1 then %><%= avatar(@selectable_users.find(uid), :size => "16") %>&nbsp;<% end %><%= @user_and_group_names_hash[uid] %></p>
              <% end %>
            <% else %>
              <p style="writing-mode: vertical-rl;">Not Assigned</p>
            <% end %>
          </td>
          <!-- Cols -->
          <% @status_fields_array.each {|status_id| %>
            <td id="field-<%= status_id %>-<%= uid %>" style="vertical-align: top;">
              <% if status_id == Constants::WIP_COUNT_STATUS_FIELD %>
                <!-- Display exceed WIP warning message -->
                <% if @wip_hash[uid].to_i > @wip_max.to_i then %>
                  <div class="flash error" id="wip_error-<%= uid %>" style="margin: 8px 4px 8px 4px;"><%= I18n.t(:kanban_label_wip_limit_exceeded) %></div>
                <% else %>
                  <div class="flash error" id="wip_error-<%= uid %>" style="margin: 8px 4px 8px 4px; display: none;"><%= I18n.t(:kanban_label_wip_limit_exceeded) %></div>
                <% end %>
              <% end %>
              <% @issues_hash[status_id].each {|issue| %>
                <% if uid == issue.assigned_to_id %>  
                  <!-- This is one card -->
                  <div id="issue-<%= issue.id %>" class="hascontextmenu created-by-me context-menu-selection
                    <!-- Card color by priority -->
                    <% if issue.priority_id >= 3 then %> my-issue-card-high-priority <% elsif issue.priority_id == 2 %> my-issue-card <% else %> my-issue-card-low-priority <% end %>">
                    <div style="float: right; font-size: smaller"><%= issue.project.name %></div><p><input type="checkbox" name="ids[]" value="<%= issue.id %>"> <%= issue.tracker.name %> #<%= issue.id %></p>
                    <p><a href="./issues/<%= issue.id %>"><%= issue.subject %></a></p>
                    <hr>
                    <!-- Days to due_date -->
                    <% if issue.due_date != nil and issue.done_ratio < 100 then %>
                      <% diff = issue.due_date - Date.today %>
                      <% if diff.to_i == 0 then %><div style="float: right; font-size: smaller"><%= I18n.t(:kanban_label_today) %></div><% end %>
                      <% if diff.to_i == 1 then %><div style="float: right; font-size: smaller"><%= I18n.t(:kanban_label_tommorow) %></div><% end %>
                      <% if diff.to_i >= 2 then %><div style="float: right; font-size: smaller"><%= I18n.t(:kanban_label_days_left, :value => diff.to_i) %></div><% end %>
                      <% if diff.to_i <  0 then %><div style="float: right; font-size: smaller"><%= I18n.t(:kanban_label_overdue) %></div><% end %>
                    <% end %>
                    <!-- User name -->
                    <p id="user_name_issue-<%= issue.id %>"><% if issue.assigned_to != nil %><%= issue.assigned_to.name %><% else %>Not assigned<% end %></p>
                  </div>
                <% end %>
              <% } %>
            </td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
</form>
<!-- Hidden values for each user -->
<% @user_id_array.each {|uid| %>
  <% if uid != nil then %>
    <!-- Number of WIP issues --> 
    <p id="wip-<%= uid %>" style="display: none;"><%= @wip_hash[uid] %></p>
    <!-- User name on card -->
    <p id="user_name_user_id-<%= uid %>" style="display: none;"><%= @user_and_group_names_hash[uid] %></p>
  <% end %>
<% } %>
<!-- Field ID for display WIP warning -->
<p id="wip-field" style="display: none;"><%= Constants::WIP_COUNT_STATUS_FIELD %></p>
<!-- Hidden values for saving issue status -->
<input type="hidden" id="save_card_id">
<input type="hidden" id="save_from_field_id">
<input type="hidden" id="save_to_field_id">
<!-- Comment dialog definition -->
<div id="comment-dialog" style="display: none;">
  <td><textarea id="comment-of-dialog" rows="5" cols="40"></textarea></td>
</div>
